.hobbies {
    display: flex;
    justify-content: center;
    margin: 2rem 5rem;
}

body {
    max-width: 100%;
}


h1 {
    font-size: 3rem;
    color: var(--primarycolor);
    text-shadow: 1px 1px 1px var(--secondarycolor);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

.hobbies li {
    margin: 2rem;
    transition: transform 0.4s ease;
}

.hobbies h2 {
    color: var(--primarycolor);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.hobby-image {
    width: 35rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--primarycolor);

}

.hobbies li:hover {
    transform: scale(1.1);
}

@media(max-width:1890px) {
    .hobby-image {
        max-width: 30rem;
        max-height: 17rem;
    }
}

@media(max-width:1640px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:1100px) {
    ul {
        grid-template-columns: 1fr;
    }
}

@media(max-width:600px) {
    .hobby-image {
        max-width: 20rem;
        max-height: 15rem;
    }

    h1 {
        font-size: 2.3rem;
    }
}

@media(max-width:410px) {
    .hobby-image {
        max-width: 15rem;
        max-height: 10rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    .hobbies h2 {
        font-size: 1.5rem;
    }
}